<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns       = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.profoundlogic.TSP_POC"
        versionCode = "10"
        version     = "1.0.0">
 
    <name>TSP POC</name>
 
    <description>
        A proof of ocncept for The Screening Pros
    </description>
 
    <author href="http://profoundlogic.com" email="ghopwood@profoundlogic.com">
        Glenn Hopwood
    </author>
 
    <feature name="http://api.phonegap.com/1.0/network"/>
    <feature name="http://api.phonegap.com/1.0/notification"/>
 
</widget>